.col h1 {
  font-size: 48px;
  font-weight: 900;
  margin-top: 81px;
  margin-bottom: 46px;
  text-align: center;
}

.col .quantity {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.col .option-title {
  margin-bottom: 18.5px;
  margin-top: 18.5px;
}

.col .difficulty {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.col .category {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.col .type {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
}

.col select {
  width: 391px;
  height: 40px;
  border: 1px solid #ffc332;
  border-radius: 9px;
  background-color: transparent;
  color: #ffc332;
}

.col select option {
  background-color: #ffc332;
  color: rgb(29, 31, 37);
  text-align: center;
}

.buttons {
  margin-top: 59.5px;
  text-align: center;
  
}

.buttons .reset {
  width: 167px;
  height: 46px;
  font-size: 32px;
  font-weight: 700;
  background-color: #ef5e37;
  margin-right: 48px;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-radius: 25px;
  -webkit-box-shadow: -1px 7px 14px -3px rgba(0,0,0,0.94); 
  box-shadow: -1px 7px 14px -3px rgba(0,0,0,0.94);
}

.buttons .play {
  width: 167px;
  height: 46px;
  font-size: 32px;
  font-weight: 700;
  background-color: #ffc332;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
  border-radius: 25px;
  -webkit-box-shadow: -1px 7px 14px -3px rgba(0,0,0,0.94); 
  box-shadow: -1px 7px 14px -3px rgba(0,0,0,0.94);
}

.container {
  width: 100%;
  border: 2px solid white;
}
