@import url('https://fonts.googleapis.com/css2?family=Tourney:ital,wght@1,900&display=swap') ;

body {
  background-color: rgb(29, 31, 37);
  color: rgb(253, 184, 19);
  font-family: Tourney , cursive;
}
